
.news-container{
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
}

.carousel-image {
    height: 600px !important; /* Set a fixed height as needed */
    object-fit: cover !important;
    width: 100% !important;
    margin: 0 auto !important;
  }

h1 {
    text-align: center;
}

.news-image {
    max-width: 800px; /* Adjust the width as needed */
    height: auto; /* Ensures the aspect ratio is maintained */
}

.news-article {
    margin-bottom: 20px; /* Add spacing between news articles */
}

.image-container {
    position: relative;
}

.image-caption-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.carousel-caption-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding: 10px;
    color: black;
  }