body{
  background-color:rgba(173, 216, 230, 0.7) !important;
}

.center {
  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: center;
  min-height: 100vh; /* Optional: If you want to center the table vertically as well */
  margin-bottom: 20px;
}

h5{
  color: lightslategray !important;
}

/* Container to hold the tables and image */
.container {
  position: relative;
  justify-content: center;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #ccc;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
}

.header-right {
  text-align: right;
  color: #666;
  font-size: 0.9rem;
}

/* Add hover effect for better interactivity */
.card-header:hover {
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.attribute-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.attribute {
  width: calc(50% - 5px); /* Two columns with spacing */
  margin-bottom: 10px;
}

.table-container{
  position: relative;
  justify-content: center;
}

.table-player th:nth-child(2) {
  width: 40%; /* Set the desired width for the "Player Name" column */
}

.table-responsive {
  overflow:hidden; /* Increase or decrease the value as per your requirement */
  max-width: 100%; /* Set the width to 100% to ensure the table takes the full container width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-responsive tbody tr:hover {
  background-color: lightgrey !important;
}

.table-responsive table tbody td {
  background-color: transparent;
  padding: 8px;
}

.table-responsive table tbody td a{
  color:black;
}

.table-responsive th {
  background-color: transparent !important; /* Set your desired background color */
  color: black !important; /* Set the text color to contrast with the background */
  border-bottom: 2px solid red; /* Optionally, set the font weight for the table header text */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px; /* Adjust the maximum width as per your preference */
  margin: 20px; /* Adjust the value as per your preference */
}

.image-container img {
  width: 100%;
  height: auto;
  border: 2px solid #ccc; /* Set your desired border style and color */
  border-radius: 10px; /* Adjust the value to control the amount of rounding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Set the box shadow color and spread */
}

#logo {
  max-width: 30px;
  margin: 0px;
}

#player-image {
  justify-content: center;
  text-align: center;
  width: 20%;
  margin: 0px;
}